@media screen and (max-width: 500px) {
    .cover-image {
        width: 100%;
        height: auto;
    }
    .work-card {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .info {
        display: flex;
    }
    .info a {
        margin-left: auto;
        padding-top: 15px;
    }
}